{% load static %}
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>FootPrint</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js' %}"></script>
		<script src="{% static 'js/skel-layers.min.js' %}"></script>
		<script src="{% static 'js/init.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/skel.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-large.css' %}" />
		<!-- <link rel="stylesheet" href="{% static 'css/style-medium.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-small.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style-xsmall.css' %}" /> -->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="/index">발자취</a></h1>
				<nav id="nav">
					<ul>
						<li class="nav-item">
						  </li>				
						<li><a href="/place_list">장소</a>
						</li>
						<li><a href="/place_register">장소 등록</a></li>
						<li><a href="/notice">공지사항</a></li>
						<li class="nav-item">
							{% if request.user.is_authenticated %}
								<a href="/myinfo">내 정보</a>
							{% else %}
								<a href="/signin">내 정보</a>
							{% endif %}
						</li>
						<li>
							{% if request.user.is_authenticated %}
								<a href="/signout">로그아웃</a>
							{% else %}
								<a href="/signin">로그인</a>
							{% endif %}
							</li>
						<li><a href="#" class="button special">회원가입</a></li>
					</ul>
				</nav>
      </header>
      {% block content %}
      {% endblock %}
  </body>
  </html>


