<html lang="ko">
	<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    <title>FootPrint</title>
	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" charset="utf-8">css_skel = "{% static 'css/skel.css' %}" </script>
	<script type="text/javascript" charset="utf-8">css_style = "{% static 'css/style.css' %}"  </script>
	<script type="text/javascript" charset="utf-8">css_style_xlarge = "{% static 'css/style-xlarge.css' %}"  </script>
	<script type="text/javascript" charset="utf-8">css_style_large = "{% static 'css/style-large.css' %}"  </script>
	<script type="text/javascript" charset="utf-8">css_style_medium = "{% static 'css/style-medium.css' %}"  </script>
	<script type="text/javascript" charset="utf-8">css_style_small = "{% static 'css/style-small.css' %}"  </script>
	<script type="text/javascript" charset="utf-8">css_style_xsmall = "{% static 'css/style-xsmall.css' %}"  </script>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/skel.min.js' %}"></script>
	<script src="{% static 'js/skel-layers.min.js' %}"></script>
	<script src="{% static 'js/init.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/skel.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />

	{% block extrahead %}
	{% endblock %}

	<style type="text/css">
		h1.base_head{
			font-size: 1.25em;
			font-weight: 700;
		}
		body{
		   background-color : #f9f9f9;
			margin: 0;
			height: 100vh
		}
		#skel-layers-hiddenWrapper{
			height:0 !important;
		}
	</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1 class="base_head"><a href="/index">발자취</a></h1>
				<nav id="nav">
					<ul>	
						<li><a href="/notice">NOTICE</a></li>
                        <li><a href="/editor">EDITOR</a></li>
						<li class="nav-item">
							{% if request.user.is_authenticated %}
								<a href="/myinfo">MY INFO</a>
							{% else %}
								<a href="/signin">MY INFO</a>
							{% endif %}
						</li>
						<li>
							{% if request.user.is_authenticated %}
								<a href="/signout">LOGOUT</a>
							{% else %}
								<a href="/signin">LOGIN</a>
							{% endif %}
							</li>
							{% if not request.user.is_authenticated %}
							<li><a href="/signup" class="button special">SIGNUP</a></li>
							{% endif %}	
					</ul>
				</nav>
      	</header>
	  {% block content %}
      {% endblock %}
  </body>
  </html>


