{% extends './base.html' %}
{% load static %}
{% block extrahead %}
<style>
        body{
            font-family: "나눔명조";
        }
        div.container {
            margin-top: 100px;
        }
        div.board_aside {
            width: 200px;
            float: left;
        }
        h1.editor_head {
			height: 700px;
			font-size: 2.5rem;
			font-weight: 800;

           }
        div.board_contents{
            margin-left: 350px;
        }
        h4.editor_tit {
			font-size: 2.0rem;
			font-weight: 800;
        }
</style>
{% endblock %}
{% block content %}
        <div class="container">
                <div class="board_aside">
                    <h1 class="editor_head">
                        Editor Pick <br>
                        <span class="small-gray"> </span>
                    </h1>
                    <span class="aside-st"></span>
                </div>
                <div class="board_contents">
                    <h4 class="editor_tit">
                        {{ editors.title }}
                    </h4>{{ editors.created_at }}
                    <br><br>
                    <img class="editor_img" src="{{ editors.img.url }}" style="width:500px; height: 350px"/>
                                <br><br>
                    <p class="edtior_contents">
                        {{ editors.description|safe }}</p>
                </div>
            </div>

{% endblock %}
