{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>History</h1>
    <a href="{% url 'history-create' %}" class="card-link">일기 작성</a>
    {% for item in historys %}

    <div class="row restaurant-item" style="margin:20px auto;">
        <div class="col-sm-12">
            <div class="card border-secondary">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.mood }}</h6>
                    <p class="card-text">{{ item.place }}</p>
                    <p class="card-text">{{item.comment|linebreaksbr}}</p>
                    {% if item.img %}
                    <img class="card-img" src="{{ item.img.url }}" , alt="">
                    {% endif %}
                    <a href="{% url 'history-update' %}?id={{ item.id }}" class="card-link">수정하기</a>
                    <form action="{% url 'history-delete' id=item.id %}" name="delete" method="post">
                        {% csrf_token %}
                        <script>
                            function myFunction() {
                            alert("Really?");
                            }
                        </script>
                        <button type="submit" onclick="myFunction()">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}