{% extends './base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

    div.history-list {
        width: 100%;
    }
    div.left {
        width: 35%;
        height: 1150px;
        float: left;
        box-sizing: border-box;
        background: #e8e8e8;
        overflow-y:scroll;
        font-family: 'NanumSquare', sans-serif;
        margin:auto;
        margin-top:105px;
    }

    div.right {
        width: 65%;
        height: 1150px;
        float: right;
        box-sizing: border-box;
        background: #e8e8e8;
        font-family: 'NanumSquare', sans-serif;
        margin-top:105px;

    }

        div.left::-webkit-scrollbar {
        width: 10px;
    }

    div.left::-webkit-scrollbar-thumb {
        background-color: #2f3542;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    div.left::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }


    a.card-link {
        margin-left:50px;
    }

    div.card {
        width: 600px;
        margin:auto;
        border-radius: 15px;
    }


    div.card-left {
        width: 280px;
        margin:auto;
        border-radius: 15px;
        background:#ffffff;
    }


    div.history-text{
        margin-left:20px;
    }

    h5.card-title {
        font-family: 'Nanum Myeongjo', serif;
    }

    #history-card-3 {
        max-width: 550px;
        max-height: 900;
        margin:auto;
        margin-top: 10%;
        border-radius: 15px;
    }

    img.card-img-top{
        max-width: 100%;
        max-height: 100%;
        margin:auto;
        object-fit: contain;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    img.history-img{
        max-width:100%;
        max-height: 100%;
        margin:auto;
        object-fit: contain;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    h5.card-title{
        font-family: 'Nanum Myeongjo', serif;
    }

    div.col-md-8{
        margin-top:30%;
    }

    button.btn-light {
        margin-bottom: 8px;
        margin-right: 5px;
    }
    form.button-history{
        float:left;
    }

    h5.card-title {
        padding-top: 10px;
    }

    #demo-place{
        font-size:14;
        color:#636160;
    }

    #demo-custom-place{
        font-size:14;
        color:#636160;
    }
    a.card-link{
        font-size : 20px;
        color: #232324;
        padding: 15px;
    }

</style>


<body class="history-list">
<div class="left">
    <div class="history">
        <a href="{% url 'history-create' %}" class="card-link">일기 작성</a>
        {% for item in historys %}
        <div class="card-body">
            <div class="card-left" onclick="myFunction({{item.id}})">
                {% if item.img %}
                <img class="card-img-top" id="image{{item.id}}" src="{{ item.img.url }}" , alt="">
                {% endif %}
                <div class="history-text">
                    <p class="card-text">
                        {%if item.title %}
                    <h5 class="card-title" id="title{{item.id}}">
                        {{item.title }}</h5>
                    {% endif %}
                    </p>
                    {%if item.mood %}
                    <h6 class="card-subtitle mb-2 text-muted" id="mood{{item.id}}">{{ item.mood }}</h6>
                    {% endif %}
                    {%if item.place %}
                    <p class="card-text" id="place{{item.id}}">{{ item.place }}</p>
                    {% endif %}
                    {%if item.custom_place %}
                    <p class="card-text" id="custom-place{{item.id}}">{{ item.custom_place }}</p>
                    {% endif %}
                    {%if item.comment %}
                    <p class="card-text" id="comment{{item.id}}" style="display: none">
                        {{ item.comment }}</p>
                    {% endif %}

                    <p class="card-text" id="created-at{{item.id}}" style="display: none">{{ item.created_at }}</p>
                    <form class="button-history" action="{% url 'history-update' %}?id={{ item.id }}" name="update"
                          method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-light btn-sm">수정</button>
                        <br/>
                    </form>
                    <form class="button-history2" action="{% url 'history-delete' id=item.id %}" name="delete"
                          method="post">
                        {% csrf_token %}
                        <script>
                                                function Function() {
                                                alert("Really?");
                                                }



                        </script>
                        <button type="submit" class="btn btn-light btn-sm" onclick="Function()">삭제</button>

                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="right">
    <div class="containor">
        <div class="card mb-3" id="history-card-3">
            <img class="history-img" id="img" src="../static/logo2.png" , alt="" style="">

            <div class="card-body" id="right-body">
                <h5 class="card-title">
                    <p id="demo-title"></p>
                </h5>
                <p id="demo-mood"></p>
                <p class="card-text" id="demo-comment"></p>
                <p id="demo-place"></p>
                <p id="demo-custom-place"></p>
                <p class="card-text"><small class="text-muted" id="demo-create-at"></small></p>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

                        window.myFunction = function(id) {
                            if(document.getElementById("title" + id) != null){
                                var title = document.getElementById("title" + id).textContent;
                            }
                            if(mood = document.getElementById("mood" + id) != null){
                                var mood = document.getElementById("mood" + id).textContent;
                            }
                            if(document.getElementById("image" + id) != null){
                                var image = document.getElementById("image" + id).src;
                                document.getElementById("img").src = image;
                            }else{
                                document.getElementById("img").src="../static/logo3.png";
                            }
                            if(document.getElementById("comment" + id) != null){
                                var comment = document.getElementById("comment" + id).textContent;
                                comment = comment.replace(/(?:\r\n|\r|\n)/g, '<br />');
                            }
                            if (document.getElementById("place" + id) != null){
                                var place = document.getElementById("place" + id).textContent;
                            }
                            if (document.getElementById("custom-place" + id) != null){
                                var customplace = document.getElementById("custom-place" + id).textContent;
                            }
                            if(document.getElementById("created-at" + id) != null){
                                var create = document.getElementById("created-at" + id).textContent;
                            }
                            if(title != null){
                                document.getElementById("demo-title").innerHTML = title;
                            }else{
                                document.getElementById("demo-title").innerHTML = " ";
                            }
                            if(mood != null){
                                document.getElementById("demo-mood").innerHTML = mood;
                            }else{
                                document.getElementById("demo-mood").innerHTML = "";
                            }
                            if(comment != null){
                                document.getElementById("demo-comment").innerHTML = comment
                            }else{
                                document.getElementById("demo-comment").innerHTML = "";
                            }
                            if(place != null){
                                document.getElementById("demo-place").innerHTML = place;
                            }else{
                                document.getElementById("demo-place").innerHTML = "";
                            }
                            if(customplace != null){
                                document.getElementById("demo-custom-place").innerHTML = customplace;
                            }else{
                                document.getElementById("demo-custom-place").innerHTML = "";
                            }
                            if(create != null){
                                document.getElementById("demo-create-at").innerHTML = create;
                            }else{
                                document.getElementById("demo-create-at").innerHTML = "";
                            }
                        }


</script>
</body>
{% endblock %}
