{% extends './base.html' %}
{% load static %}
{% block content %}
<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);


    div.history-form {
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
        margin: auto;
        padding-top: 110px;
    }



</style>

<div class="container">
    <form enctype="multipart/form-data" class="history-form" action="{% url 'history-create' %}" method="post">
        {% csrf_token %}
        <div class="history-form">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">등록</button>
    </form>
</div>
{% endblock %}