<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <h2>History</h2>
</head>
<body>
    {% for history in historys %}
    <div>
        <h4>
            {{ history.title }}
        </h4>
        <p>
            {{ history.comment }}
        </p>
    </div>
    {% endfor %}

    {% for place in places %}
    <div>
        <h4>
            {{ place.title }}
        </h4>
        <p>
            {{ place.comment }}
        </p>
    </div>
    {% endfor %}
</body>
</html>