{% extends './base.html' %}
{% load static %}
{% block content %}

<style>
        body{
            font-family: "나눔명조";
        }
        div.container {
            margin-top: 100px;
        }
        section{
            position:relative;margin:0 auto;display:block;max-width:1100px;width:1100px
        }
        div.board_aside {
            width: 200px;
            float: left;
        }
        div.board_contents{
            margin-left: 350px;
        }
        h1.notice_head{
            height: 700px;
            font-size: 2.5rem;
            font-weight: 800;

           }
        h4.notice {
			font-size: 2.0rem;
			font-weight: 800;
        }

    </style>

<div class="container">
        <div class="board_aside">
            <h1 class="notice_head">
                공지사항<br>
            </h1>
            <span class="aside-st"></span>
        </div>
        <div class="board_contents">
            <h4 class="notice">
                {{ notices.title }}
            </h4>{{ notices.created_at }}
            <br><br>
            <p class="notice">
                 {{ notices.description|safe }}
            </p>
        </div>
    </div>
{% endblock %}
