{% extends './base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/webstyle.css' %}" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% load crispy_forms_tags %}
<div id="pw_reset">
<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
        <div class="row userinfo" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h2 class="card-title">비밀번호 재설정</h2>
                        <hr>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn confirm_btn" type="submit">변경완료</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
