{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="containter">
    <h2> Place List </h2>
        <div class="filter_content section--search_category">
            <div class="section--category_group">
                <ul class="list--category depth1" style="list-style:none">
                    <a href="/website/place_restaurant_list">식당</a> / <a href="/website/place_sights_list">관광지</a>
                </ul>
            </div>
        </div>
    </div>
    {% for item in restaurants %}
    <div class="row restaurant-item" style="margin:20px atuo;">
        <div class="col-sm-12">
            <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class class="card-text">음식점 설명</p>
                <a href="#" class="card-link">자세히</a>
             </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 