{% extends './base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=373de50ef6dcf6a5a87b44674f4dc70c&libraries=services"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/editor.css' %}">


<div class="container_place">
    <div class="board_contents place">
        <h1 class="place_head">
            Places<br>
        </h1>
        <hr class="place">
    </div>
        <div class="cont">
        <div class="col-4 data">
        <div class="card place">
            <img src="{{ places.imageSrc }}" alt="" class="card-img-top" />
            <div class="card-body place">
                <h3 class="card-title place">" {{ places.title }} "</h3>
                <h5 class="card-title place">{{ places.description }}</h5>
                <p class="card-text place">{{ places.location }}</p>
                <p class="card-text place"><small class="text-muted">{{ places.businessHours }}</small></p>
                <div class="place_menus">
                    {% if places.menuNames %}
                    <div class="menu">
                        <h5 class="menu"> MENU</h5> <br>
                        {% for item in places.menuNames %}
                        <p>{{ item }} &nbsp &nbsp &nbsp <br></p>
                        {% endfor %}
                    </div>
                    <div class="price">
                        <h5 class="menu"> &nbsp </h5> <br>
                        {% for item in places.menuPrices %}
                        <p> {{ item }} &nbsp</p>
                        {% endfor %}
                    </div>
                    </div>
                {% endif %}
                </div>
              </div>
            </div>
            <div class="col-4 map" id="map">
        </div>
    </div>
</div>
<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3 
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);
    var geocoder = new kakao.maps.services.Geocoder();
    geocoder.addressSearch('{{places.location}}', function(result, status) {

         if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            var infowindow = new kakao.maps.InfoWindow({
                content: '<div class="location_tag" style="width: 200px;text-align:center;padding:6px 0; font-size:1rem">"{{ places.title }}"</div>'
            });
            infowindow.open(map, marker);

            map.setCenter(coords);
        }
    });
</script>
{% endblock %}