{% extends './base.html' %}
{% load static %}
{% block content %}
    <form method="post">
    <div class="container p-5">
    <h2> Sign up </h2><br>
      <hr>
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Sign up</button>
      If you already have an account <a href="/signin" target="blank"><strong>Sign In</strong></a> instead.
    </div>
    </form>
{% endblock content %}

