{% extends './base.html' %}
{% load static %}
{% block content %}
<form method="post" style="margin:30px 0px 0px 30px;">
    <h2> Sign In </h2><br>
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
        </p>
      {% endfor %}
      {% if messages %}
            {% for message in messages %}
              <small style="color: red">{{ message.message }}</small><br><br>
	        {% endfor %}
      {% endif %}
      <button type="submit">Sign In</button>
      If you don't have an account <a href="/signup" target="blank"><strong>Sign Up</strong></a> instead.
    </form>
{% endblock content %}

