{% extends './base.html' %}
{% load static %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
    @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

    .html,body{
    background-color: #f9f9f9;
    }

    .container{
    width: 100%;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    }

    .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    }

    .confirm_btn{
    color: black;
    width: 130px;
    height: 45px;
    margin-top: 15px;
    font-size: 100%;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }
</style>

{% load crispy_forms_tags %}

<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
        <div class="row userinfo" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h2 class="card-title">이메일 인증이 필요합니다</h2>
                        <hr>
                        <p><strong>가입 시 사용했던 이메일을 다시 입력해주세요.</strong></p>
                        <form method="post" >
                            {% csrf_token %}
                             {{ password_reset_form|crispy }}
                             {% if messages %}
                                 {% for message in messages %}
                                   <p style="color: red">{{ message.message }}</p><br><br>
                                 {% endfor %}
                             {% endif %}
                            <button class="btn confirm_btn" type="submit" >이메일 입력</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

