{% extends './base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'user_password_auth' %}" method="post" >
  <div class="container p-5">
  <h3> 이메일 인증이 필요합니다 </h3><br>
    <hr>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
    {% endfor %}
    {% if messages %}
      {% for message in messages %}
        <small style="color: red">{{ message.message }}</small><br><br>
	  {% endfor %}
    {% endif %}
  <button type="submit">Submit</button>
  </div>
</form>
{% endblock content %}