{% extends './base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/webstyle.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div id = "pw_update">
<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
        <div class="row userinfo" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body user">
                        <h2 class="card-title">{{ user.email }}님의 비밀번호 변경</h2>
                        <hr>
                        <form action="{% url 'user_password_update' %}" method="post" >
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ form.instance.id }}"/>
                            {% for field in form %}
                            <p><strong>{{ field.label }}</strong></p>
                                  {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            <button class="btn confirm_btn" type="submit" >변경완료</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

