{% extends './base.html' %}
{% load static %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
    @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

    .html,body{
    background-color: #f9f9f9;
    }

    .container{
    padding-top: 100px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    margin-top: 20px;
    }

    .card-title{
    margin-top: 5px;
    margin-left: 25px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    text-align: center;
    font-size: 2vw;
    }

    .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    .card-body p{
    font-size: 1vw;
    }

    .card-body h5{
    font-size: 1.3vw;
    }

    .delete_btn{
    color: black;
    margin-top: 20px;
    width: 13%;
    height: 7%;
    font-size: 1.3vw;
    font-weight:bold;
    background-color: #f56042;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }

    label {
    width:200px;
    display: block;
    }
</style>


<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
    <div class="row userinfo" style="margin:20px auto;">
        <div class="col-sm-12">
            <div class="card border-secondary">
                <div class="card-body">
                    <h2 class="card-title">{{ user.email }}님의 회원 탈퇴</h2>
                    <hr>
                    <form action="{% url 'user_delete' %}" method="post" novalidate>
                        {% csrf_token %}
                        <p style="color: red"><strong>{{ user.user_id }}</strong> 회원님의 계정이 삭제됩니다.<br>탈퇴시 개인정보 및 이용정보가 삭제되며 복구할 수 없습니다.<br><br>
                        <h5><strong>본인인증을 위해 비밀번호를 다시 입력해주세요.</strong></h5>
                            <label name="label_password" for="{{ password_form.password.id_for_label }}"></label>
                            {{ password_form.password }}
                            {% if messages %}
                                {% for message in messages %}
                                  <p style="color: red">{{ message.message }}</p>
                                {% endfor %}
                            {% endif %}
                        <button class="btn delete_btn" type="submit" >탈퇴하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}