{% extends './base.html' %}
{% load static %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
    @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

    .html,body{
    background-color: #f9f9f9;
    }

    .container{
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    padding-top: 100px;
    }

    .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2vw;
    }

    .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    }

    .user-tag {
    height: 60px;
    width: 400px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight:bold;
    font-size: 130%;
    border-style: none;
    color: black;
    background-color: white;
    }

    .confirm_btn{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 14%;
    height: 8%;
    font-size: 1.2vw;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }
</style>

<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
        <div class="row userinfo" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h2 class="card-title">{{ user.email }}님의 비밀번호 변경</h2>
                        <hr>
                        <form action="{% url 'user_password_update' %}" method="post" >
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ form.instance.id }}"/>
                            {% for field in form %}
                            <p><strong>{{ field.label }}</strong></p>
                                  {{ field }}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            <button class="btn confirm_btn" type="submit" >변경완료</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

