{% extends './base.html' %}
{% load static %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
    @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

    .html,body{
    background-color: #f9f9f9;
    }

    .container{
    width: 100%;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    }

    .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    }

    .user-tag {
    height: 60px;
    width: 120px;
    padding: 15px;
    font-size: 150%;
    color: black;
    background-color: white;
    }

    .user-info {
    height: 60px;
    width: 300px;
    margin-top: 5px;
    font-weight:bold;
    font-size: 140%;
    text-align: center;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    color: black;
    background-color: #f3f3f3;
    float: left;
    }

    .user-img {
    height: 300px;
    width: 300px;
    margin-top: 5px;
    font-weight:bold;
    font-size: 140%;
    text-align: center;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    color: black;
    background-color: #f3f3f3;
    float: right;
    }

    .confirm_btn{
    color: black;
    width: 115px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 100%;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }

    .delete_btn{
    color: black;
    width: 115px;
    height: 45px;
    font-size: 100%;
    font-weight:bold;
    background-color: #f56042;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }

</style>

<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
        <div class="row userinfo" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h2 class="card-title">{{ user.email }}님의 회원정보 수정</h2>
                        <hr>
                        <form action="{% url 'user_info_update' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ form.instance.id }}"/>
                            {% for field in form %}
                                {% if field.label == '프로필 이미지' %}
                                    <div class="input-group form-group">
                                        <div class="user-tag">
                                        {{ field.label }}
                                        </div>
                                        <img class="user-img" id="image{{field.id}}" src="{{ field.image.url }}" type="file">
                                        {{ field }}
                                    </div>
                                {% elif field.label == '나이' %}
                                    <div class="input-group form-group">
                                        <div class="user-tag">
                                        {{ field.label }}
                                        </div>
                                        <div class="user-info">
                                        {{ field }}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="input-group form-group">
                                        <div class="user-tag">
                                        {{ field.label }}
                                        </div>
                                        <div class="user-info">
                                        {{ field }}
                                        </div>
                                    </div>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            <h5><strong>비밀번호 변경을 원하십니까? <a href="/user_password_update" target="blank"><strong><em>비밀번호 변경</em></strong></a></h5>
                            <button class="btn confirm_btn" type="submit" >수정완료</button>
                        </form>
                        <form action="{% url 'user_delete' %}" >
                            {% csrf_token %}
                            <button class="btn delete_btn" >탈퇴하기</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}