{% extends './base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">이메일 인증이 필요합니다</h2>
    <hr>
     <form method="POST">
         {% csrf_token %}
         {{ password_reset_form|crispy }}
         {% if messages %}
         {% for message in messages %}
           <small style="color: red">{{ message.message }}</small><br><br>
       {% endfor %}
   {% endif %}
         <button class="btn btn-primary" type="submit">Send email</button>
     </form>
 </div>
{% endblock content %}
