{% extends 'base.html' %} 
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/webstyle.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static '/css/media.css' %}" />

<div id="editor">
  <div class="container_editor">
      <div class="board_contents editor">
        <h1 class="editor_head">Editor Pick<br></h1>
        <hr class="editor">
      </div>
      <div class="board_contents editor">
        <div class="editor_card">
          <div class="Culture_box">
            <ul class="culture_gallery">
              {% for item in editors %}
              <a
                  href="editor_view/{{ item.id }}"
                  class="link_editor"
                  omni-click="맵:Submain:COOKINGLIBRARY"
                >
              <div class="card mb-4 shadow-sm editor">

                  {% if item.img %}
                  <img
                    class="card_img editor"
                    src="{{ item.img.url }}"
                    alt="COOKING LIBRARY"
                  />
                  {% endif %}
                  <div class="card-body editor">
                    <strong class="title_editor">{{ item.title }} &gt;</strong>
                    <span class="txt editor">{{ item.contents }}</span>
                  </div>
              </div>
              </a>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
