
/* editor */
        body{
            font-family: "나눔스퀘어";
            background-color: #f9f9f9;
        }
        div.container_editor {
            padding-top: 150px;
        }
        div.board_contents.editor{
            width : 1056px;
            margin: 0 auto;
        }
        h3.editor_head{
            display: inline-block;
            font-family: "나눔스퀘어";
            font-size: 3.0rem;
            font-weight: 700;
            margin-left : -3.3em;
        }
        hr.editor{
            margin-top: 1rem;
            width: 85px;
            color: #3cadd4;
        }
        .culture_gallery {
            position: relative;
            width: 1056px;
            padding: 40px 0 0px 0;
        }
        ul.culture_gallery{
                list-style : none;
        }
        img.card_img.editor {
            display: block;
            max-width:100%;
            max-height: 100%;
            object-fit: contain;
        }
        .culture_gallery .title_editor {
            display: block;
            margin: 16px 0 15px 0;
            font-size: 15px;
            line-height: 1;
            font-weight: normal;
            color: #000;
        }
        .culture_gallery .txt.editor {
            display: block;
            font-size: 13px;
            color: #666;
            line-height: 1;
            font-weight: normal;
        }
        p.editor_head {
            font-size: 21px;
            padding-bottom:16px;
            font-size:15px;
            color:#000;
        }

        div.card.mb-4.shadow-sm.editor{
            overflow: hidden;
            float: left;
            width: 328px;
            height: 420px;
            margin: 0 24px 39px 0;
            line-height: 22px;
            border-radius: 15px;
        }
        .editor_card{
            padding-top: 20px;
        }
        div.card-body.editor{
            padding-top:10px;
        }

    @media screen and (max-width: 960px){

        .culture_gallery {
            position: relative;
            width: 800px;
            padding: 40px 0 0px 0;
        }
        ul.culture_gallery{
                margin-left: 3vw;
        }

        div.container_editor {
            margin-left: 3vw;
        }
    }

    /* editor view */

    h1.editor_head{
        display: inline-block;
        height: 700px;
        font-size: 3.0rem;
        font-weight: 800;

    }

    .editor_contents{
        padding-top: 60px;
    }

    h4.editor {
        font-size: 2.0rem;
        font-weight: 800;
    }

    p.editor_date{
        padding-top : 20px;
        padding-bottom : 20px;
    }

    h4.editor_tit {
        font-size: 2.3rem;
        font-weight: 550;
        font-family: "나눔명조";
    }

    @media screen and (max-width: 960px){
        
        .editor_contents {
            width:100%; 
            height:100%;
        }
    
    }

    /* notice */

    .container_notice{
        padding-top: 150px;
    }

    .notices_contents{
        padding-top: 45px;
    }

    .board_contents.notice{
        width : 1056px;
        margin: 0 auto;
    }
    .board_aside {
        width: 250px;
        float: left;
    }
    h1.notice_head{
        display: inline-block;
        font-size: 3.0rem;
        font-weight: 700;
    }

    #notice hr.notice {
        margin-top: 1rem;
        width: 85px;
        color: #3cadd4;
    }
    #notice .row{
        padding-top: 15px;
    }

    #notice .card-title{
        padding-left: 10px;
        font-weight: 600;
        font-size: 1.5rem;
        font-family: "나눔명조"
    }

    #notice p.notice_date{
        padding-left: 15px;
        margin-bottom: 5px;
    }
    p.notice_desc{
        font-size: 1.0rem;
        padding-left: 15px;
        margin-bottom: 5px;
    }
    #notice a{
        text-decoration: none;
        color: black;
    }
    #notice .card{
        border-radius: 15px;
           width:62rem;
    }
    @media screen and (max-width: 960px){
        #notice .card{
            border-radius: 15px;
            width:40rem;
        }
        div.container_notice , .notices_contents {
            margin-left: 3vw;
        }
    }
    /* notice view */

    div.container_notice {
        padding-top: 150px;
    }

    div.board_contents {
        width : 1056px;
        margin: 0 auto;
    }

    h1.notice_head {
        font-size: 3.0rem;
        font-weight: 700;
    }

    .notices_contents{
        padding-top: 60px;
    }
    h4.notice_tit {
        font-size: 2.3rem;
        font-weight: 550;
        font-family: "나눔명조";
    }
    #notice_view p.notice_date{
        padding-top : 20px;
        padding-bottom : 20px;
    }

    hr.notice{
        margin-top: 1rem;
        width: 85px;
        color: #3cadd4;
    }
    h4.notice_head {
        font-size: 2.3rem;
         font-weight: 550;
         font-family: "나눔명조";
    }
    .notice{
        margin-top: 60px;
    }
    @media screen and (max-width: 960px){

    div.container_notice , .notices_contents {
        margin-left: 3vw;
        }
    }

    /* place */

    div.container_place {
        padding-top: 150px;
    } 
    div.board_contents.place{
        margin-left: 3vw;
    }
    h1.place_head {
        height: 700px;
        font-size: 3.0rem;
        font-weight: 700;
    }
    .card-title.place{
        padding:0;
        text-align: center;
    }
    hr.place{
        width: 100px;
        margin-top: -630px;
        color: #3cadd4;
    }
    img.card-img-top{
            display: block;
            width:100%;
            height: 100%;
            object-fit: contain;
            overflow: hidden;
            border-radius: 15px;
    }
    .card.place{
        margin-top: 50px;
        border-radius: 15px;
    }
    div.place_menus{
        margin-top: 20px;
    }
    .card-body.place{
        margin: 0 auto;
    }
    p.card-text.place{
        font-size: 1rem;
        text-align: center;
    }
    div.menu{
        font-size: 0.95rem;
        float:left;
    }
    div.price{
        font-size: 0.95rem;
        float:right;
    }
    div.col-4{
        margin: 0 auto;
    }
    .data{
        max-width: 80%;
    }
    #map{
        max-width: 80%;
        height:400px;
        margin-top: 20px;
    }
    @media screen and (min-width: 960px){
    div.board_contents.place {
        width: 1056px;
        margin: 0 auto;
    }
    div.cont{
        font-size:0;
        max-width:1056px;
        margin:0 auto;
    }
    div.col-4{
        display: inline-block;
        vertical-align: middle;
    }
    div.data{
        max-width: 65%;
    }
    #map{
        max-width: 35%;
        height:400px;
    }
    div.menu{
        font-size: 1rem;
    }
    div.price{
            font-size: 1rem;
    }
    h5.menu {
        height:1.25rem;
        font-weight: 800;
    }
    h3.card-title.place{
        font-size: 2.0rem;
        font-weight: 800;
        text-align: center;
        padding:0;
    }

    /* index */

    div.col-md-4.index {
        flex: 0 0 25%;
    }

    body {
        background-color: #f9f9f9
    }

    .card-body.index{
        padding-top: 20px;
    }

    h3.place_tit {
        display: inline-block;
        margin-left: 50px;
        margin-bottom: 25px;
        padding: 0;
    }
    
    h4.index_subtit {
        color: #a9a9a9;
        text-align: center;
    }

    div.card.mb-4.shadow-sm.index{
        overflow: hidden;
        float: left;
        width: 270px;
        height: 350px;
        line-height: 22px;
        border-radius: 15px;
    }

    img.card-img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    hr.hr {
        margin-top: 5em;
    }
    