    /* history_list */
    .cont {
        margin: 0;
        height: 100vh;
        width: 100%;
    }
    div.left {
        width: 25%;
        margin: 0 !important;
        height: 100vh;
        float: left;
        box-sizing: border-box;
        background: #f9f9f9;
        overflow-y:scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        font-family: 'NanumSquare', sans-serif;
        margin:auto;
        margin-top:7.2%;
    }
    .left::-webkit-scrollbar {
        display: none;
    }

    div.right {
        width: 75%;
        margin: 0 !important;
        height: 100vh;
        float: right;
        box-sizing: border-box;
        background: #f9f9f9;
        font-family: 'NanumSquare', sans-serif;
        margin-top:7.2%;

    }


    div.left::-webkit-scrollbar-thumb {
        background-color: #2f3542;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }

    div.left::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }


    div.card-left {
        position: relative;
        width: 21vw;
        margin:auto;
        border-radius: 15px;
        background:#ffffff;
    }
    .history{
        margin-top: 100px
    }

    div.history-text{
        margin-left:6%;
        align-items: center;
    }

    h4.history-card-title {
        font-family: 'Nanum Myeongjo', serif;
        font-weight: 800;
        padding-top: 10px;
    }

    img.history-card-img-top{
        max-width: 100%;
        max-height: 100%;
        margin:auto;
        object-fit: contain;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    img.history-img{
        max-width:100%;
        max-height: 100%;
        margin:auto;
        object-fit: contain;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }


    button.btn-light {
        margin-bottom: 8px;
        margin-right: 5px;
    }

    form.button-history{
        float:left;
    }

    #demo-place{
        font-size:14;
        color:#636160;
    }

    #demo-custom-place{
        font-size:14;
        color:#636160;
    }

    a.history-card-link{
        font-size : 20px;
        color: #232324;
        padding: 7.5%;
        padding-top:5%;
        margin-left:11%;
    }


    .lib-panel {
        margin-bottom: 20Px;
        border-radius:15px;
    }
    .lib-panel img {
        width: 98%;
        background-color: transparent;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }


    .lib-panel .row,
    .lib-panel .col-md-6 {
        padding: 0;
        background-color: #FFFFFF;
        width: 72.9vw;
        border-radius: 15px;
        height: 35vw;
        position: relative;
        overflow-y:scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .col-md-6::-webkit-scrollbar {
        display: none;
    }

    .lib-panel .lib-row {
        padding: 0 20px 0 20px;

    }

    .lib-panel .lib-row.lib-header {
        background-color: #FFFFFF;
        width:34vw;
        font-size: 25px;
        padding: 10px 20px 0 20px;
        font-family: 'Nanum Myeongjo', serif;
        border-radius: 15px;
    }


    .lib-panel .lib-row.lib-desc {
        position: relative;
        display: block;
        font-size: 15px;
    }
    .lib-panel .lib-row.lib-desc a{
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 20px;
    }

    .row-margin-bottom {
        margin-bottom: 20px;
        margin-top: 140px;
        margin-left: 1.06vw;
    }

    .box-shadow {
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
        box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    }

    .no-padding {
        padding: 0;
    }
    #demo-comment{
        padding:4%;
    }
    #demo-create-at {
        color:#636160;
    }
    @media screen and (max-width: 850px){
        .history{
            margin-top: 50px
        }
        .row-margin-bottom {
            margin-bottom: 20px;
            margin-top: 90px;
            margin-left: 1.06vw;
        }

    }

    /* history_create , history_update */
    div.history-form {
        font-size: 15px;
        font-family: 'NanumSquare', sans-serif;
        margin: auto;
        padding-top: 110px;
    }
