
/* myinfo */

    @media screen and (max-width: 960px) {
        #myinfo .right {
            float: right;
            padding: 1.5vw;

        }

        #myinfo .left {
            float: left;

        }
        #myinfo .user-info {
            width: 28vw;
            font-size: 2vw;
            padding: 0.9vw;
        }
        #myinfo .user-img{
            width: 25vw;
            height: 25vw;
        }

        #myinfo .update-btn{
            height: 3.2vw;
            font-size:1.8vw;

        }
    }


/* user info update */

@media screen and (max-width: 960px) {
    #id_birth_date, #id_nickname, #id_gender, #id_age{
        font-size: 2vw;

    }
    #id_age{
        margin-left: -4vw;
    }
    #id_image{
        font-size:1.7vw;
    }
    #user_update .user-info {
        width: 28vw;
        border-radius: 5px;
    }
    #user_update .user-img {
        width: 25vw;
    }
    #user_update button.btn.confirm_btn, button.btn.pw_btn, button.btn.delete_btn{
        font-size:0.8rem !important;
    }
}


/* signup */

@media screen and (max-width: 960px){
    #signup .container2{
            display: none;
    }
    #signup .card{
        position: absolute;
        left: 50%;
        top: 50;
        transform: translate(-50%);
        width:400px;
    }

}


/* editor */

    @media screen and (max-width: 960px){

        .culture_gallery {
            position: relative;
            width: 800px;
            padding: 40px 0 0px 0;
        }
        ul.culture_gallery{
                margin-left: 3vw;
        }

        div.container_editor {
            margin-left: 3vw;
        }
    }

/* editor view */

    @media screen and (max-width: 960px){
        
        .editor_contents {
            width:100%; 
            height:100%;
        }
    
    }


/* notice */


@media screen and (max-width: 960px){
    #notice .card{
        border-radius: 15px;
        width:40rem;
    }
    div.container_notice , .notices_contents {
        margin-left: 3vw;
    }
}


/* notice view */

@media screen and (max-width: 960px){

    div.container_notice , .notices_contents {
        margin-left: 3vw;
        }
    }
  
  
/* place */

@media screen and (min-width: 960px){
    div.board_contents.place {
        width: 1056px;
        margin: 0 auto;
    }
    div.cont.place{
        font-size:0;
        max-width:1056px;
        margin:0 auto;
    }
    div.col-4{
        display: inline-block;
        vertical-align: middle;
    }
    div.data{
        max-width: 65%;
    }
    #map{
        max-width: 35%;
        height:400px;
    }
    div.menu{
        font-size: 1rem;
    }
    div.price{
            font-size: 1rem;
    }
    h5.menu {
        height:1.25rem;
        font-weight: 800;
    }
    h3.card-title.place{
        font-size: 2.0rem;
        font-weight: 800;
        text-align: center;
        padding:0;
    }
}


/* history list */

    @media screen and (max-width: 960px){
        .history{
            margin-top: 50px
        }
        .row-margin-bottom {
            margin-bottom: 20px;
            margin-top: 90px;
            margin-left: 1.06vw;
        }

    }