/* myinfo */
    #myinfo .html,body {
        background-color: #f9f9f9;
    }

    #myinfo .card {
        border-radius: 15px;
    }

    #myinfo .card-body {
        font-weight: bold;
        text-align: center;
        font-family: 'NanumSquare', sans-serif;
    }

    #myinfo .card-title {
        margin-top: 5px;
        margin-left: 20px;
        font-family: 'NanumSquare', sans-serif;
        font-weight: bold;
        font-size: 2vw;
    }

    #myinfo .col-sm {
        padding-top: 50px;
    }

    #myinfo .user-info {
        width: 20vw;
        height: 1%;
        margin-left: 15px;
        margin-bottom: 10px;
        padding: 0.8vw;
        font-size: 1.3vw;
        font-weight: bold;
        text-align: left;
        border-style: none;
        border-radius: 10px 10px 10px 10px;
        color: black;
        background-color: #f2f2f2;
    }

    #myinfo .user-img {
        padding: 12px;
        width: 22vw;
        height: 22vw;
        border-style: none;
        border-radius: 15px;
        background-color: #f2f2f2;
        float: right;
    }

    #myinfo .update-btn {
        display: block;
        margin: 0 auto;
        color: black;
        width: 10vw;
        height: 3.5vw;
        font-size: 1.5vw;
        font-weight: bold;
        text-align: center;
        background-color: #c4c4c4;
        border-style: none;
        border-radius: 10px;
    }

    #myinfo .myinfo {
        display: inline-block;
        vertical-align: middle;
        max-width: 100%;
    }

    #myinfo .right {
        float: right;
        padding: 10 0 10 50;
    }

    #myinfo .left {
        float: left;
        padding: 10 50 10 0;

    }

    @media screen and (max-width: 960px) {
        #myinfo .right {
            float: right;
            padding: 1.5vw;

        }

        #myinfo .left {
            float: left;

        }
        #myinfo .user-info {
            width: 28vw;
            font-size: 2vw;
            padding: 0.9vw;
        }
        #myinfo .user-img{
            width: 25vw;
            height: 25vw;
        }

        #myinfo .update-btn{
            height: 3.2vw;
            font-size:1.8vw;

        }
    }


/* user info update */
    #user_update .html, body {
        background-color: #f9f9f9;
    }

    #user_update .container {
        font-family: 'NanumSquare', sans-serif;
        font-weight: bold;
        padding-top: 50px;
    }

    #user_update .card{
        border-radius: 10px;
    }

    #user_update .card-body {
        font-weight: bold;
        text-align: center;
        border-radius: 20px;
    }

    #user_update .card-title {
        margin-top: 5px;
        margin-left: 20px;
        font-family: 'NanumSquare', sans-serif;
        font-weight: bold;
        font-size: 2vw;
    }

    #user_update .user-info {
        width: 20vw;
        height: 1%;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.5vw;
        text-align: center;
        border-style: none;
        border-radius: 5px;
        color: black;
        background-color: #f3f3f3;
        float: left;
    }

    #user_update .user-img {
        margin-right: 1.5vw;
        padding: 12px;
        padding-left: 18px;
        width: 22vw;
        height: 22vw;
        border-style: none;
        border-radius: 10px 10px 10px 10px;
        color: black;
        background-color: #f3f3f3;
        float: right;
    }

    #user_update .confirm_btn {
        color: black;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 10px;
        width: 14%;
        height: 8%;
        font-size: 1.1vw;
        font-weight: bold;
        background-color: #c4c4c4;
        border-style: none;
        border-radius: 10px 10px 10px 10px;
        float: left;
    }

    #user_update .delete_btn {
        color: black;
        margin-top: 20px;
        margin-bottom: 15px;
        width: 14%;
        height: 8%;
        font-size: 1.1vw;
        font-weight: bold;
        background-color: #f56042;
        border-style: none;
        border-radius: 10px 10px 10px 10px;
        float: left;
    }

    #user_update .pw_btn {
        color: black;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-right: 10px;
        width: 14%;
        height: 8%;
        font-size: 1.1vw;
        font-weight: bold;
        background-color: #c4c4c4;
        border-style: none;
        border-radius: 10px 10px 10px 10px;
        float: left;
    }

    #id_age {
        width: 17vw;
        border: none;
        background-color: transparent;
    }
    #id_birth_date, #id_nickname, #id_gender, #id_age{
        background-color: #f3f3f3;
        height: 3vw;
    }
    #id_image{
            font-size:1.5vw;
    }
    #user_update button.btn.confirm_btn, button.btn.pw_btn, button.btn.delete_btn{
            font-size:1.1vw;
    }
    @media screen and (max-width: 960px) {
        #id_birth_date, #id_nickname, #id_gender, #id_age{
            font-size: 2vw;

        }
        #id_age{
            margin-left: -4vw;
        }
        #id_image{
            font-size:2vw;
        }
        #user_update .user-info {
            width: 28vw;
            border-radius: 5px;
        }
        #user_update .user-img {
            width: 25vw;
        }
        #user_update button.btn.confirm_btn, button.btn.pw_btn, button.btn.delete_btn{
            font-size:0.8rem;
        }
    }


/* user delete */
    #user_delete .html,body{
    background-color: #f9f9f9;
    }

    #user_delete .container{
    font-family: 'NanumSquare', sans-serif;
    padding-top: 100px;
    font-weight:bold;
    }

    #user_delete .card-title{
    margin-top: 5px;
    margin-left: 25px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    text-align: center;
    font-size: 2vw;
    }

    #user_delete .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    #user_delete .card-body p{
    font-size: 1vw;
    }

    #user_delete .card-body h5{
    font-size: 1.3vw;
    }

    #user_delete .delete_btn{
    color: black;
    margin-top: 20px;
    width: 13%;
    height: 7%;
    font-size: 1.3vw;
    font-weight:bold;
    background-color: #f56042;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }


/* signup email confirm */
    #signup_email_c .html,body{
    background-color: #f9f9f9;
    }

    #signup_email_c .container{
    font-family: 'NanumSquare', sans-serif;
    padding-top: 100px;
    font-weight:bold;
    }

    #signup_email_c .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    #signup_email_c .card-body h5{
    font-size: 1.3vw;
    }

    #signup_email_c .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    }


/* user password update */
    #pw_update .html,body{
    background-color: #f9f9f9;
    }

    #pw_update .container{
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    padding-top: 50px;
    }

    #pw_update .card-body.user{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2vw;
    }

    #pw_update .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    }

    #pw_update .user-tag {
    height: 60px;
    width: 400px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight:bold;
    font-size: 130%;
    border-style: none;
    color: black;
    background-color: white;
    }

    #pw_update .confirm_btn{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 14%;
    height: 8%;
    font-size: 1.2vw;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }


/* user password find */
    #pw_find .html,body{
    background-color: #f9f9f9;
    }

    #pw_find .container{
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    padding-top: 100px;
    }

    #pw_find .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2vw;
    }

    #pw_find .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    }

    #pw_find .confirm_btn{
    color: black;
    margin-top: 15px;
    width: 13%;
    height: 9%;
    font-size: 1.0vw;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }

    #pw_find .asteriskField{
        font-size:0;
    }


/* password email confirm */
    #pw_email_c .html,body{
    background-color: #f9f9f9;
    }

    #pw_email_c .container{
    padding-top: 100px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    }

    #pw_email_c .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    #pw_email_c .card-body h5{
    font-size: 1.3vw;
    }

    #pw_email_c .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    }


/* password reset */
    #pw_reset .html,body{
    background-color: #f9f9f9;
    }

    #pw_reset .container{
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    padding-top: 100px;
    }

    #pw_reset .card-body{
    font-weight:bold;
    border-radius: 20px;
    }

    #pw_reset .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    text-align: center;
    }

    #pw_reset .confirm_btn{
    color: black;
    margin-top: 15px;
    width: 14%;
    height: 8%;
    font-size: 1.2vw;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }


/* password reset complete */
    #pw_reset_c .html,body{
    background-color: #f9f9f9;
    }

    #pw_reset_c .container{
    font-weight:bold;
    padding-top: 100px;
    font-family: 'NanumSquare', sans-serif;
    }

    #pw_reset_c .card-body{
    font-weight:bold;
    text-align: center;
    border-radius: 20px;
    }

    #pw_reset_c .card-body h5{
    font-size: 1.3vw;
    }

    #pw_reset_c .card-title{
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-weight:bold;
    font-size: 2vw;
    }

    #pw_reset_c .confirm_btn{
    color: black;
    margin-top: 15px;
    width: 13%;
    height: 7%;
    font-size: 1.5vw;
    font-weight:bold;
    background-color: #c4c4c4;
    border-style: none;
    border-radius: 10px 10px 10px 10px;
    }










