asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
Django==3.1.1
django-admin-rangefilter==0.6.2
django-ckeditor==5.9.0
django-crispy-forms==1.9.2
django-filter==2.3.0
django-grappelli==2.14.2
django-js-asset==1.2.2
django-rest-registration==0.5.6
djangorestframework==3.11.1
idna==2.10
jsonfield==3.1.0
mysqlclient==2.0.1
Pillow==7.2.0
psycopg2-binary==2.8.5
PyMySQL==0.10.0
pytz==2020.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
typing==3.7.4.3
urllib3==1.25.10
