{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/css/webstyle.css' %}" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div id = "pw_reset_c">
<div class="container p-5">
<div class="container">
    <div class="filter_content section--search_category">
        <div class="section--category_group">
            <ul class="list--category depth1" style="list-style:none">
            </ul>
        </div>
    </div>
        <div class="row userinfo" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h2 class="card-title">비밀번호 변경이 완료되었습니다</h2>
                        <hr>
                        <h5><strong>변경된 비밀번호로 다시 로그인해주세요.</strong></h5>
                        <h5><strong>감사합니다.</strong></h5>
                        <form action="{% url 'signin' %}" >
                            {% csrf_token %}
                            <button class="btn confirm_btn" >로그인</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}