{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/webstyle.css' %}"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

<script src="js\jquery-ui.min.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datetimepicker();
});
</script>

<!--<script type="text/javascript">-->
<!--$(document).ready(function() {-->
<!--    $('.datepicker').datetimepicker();-->
<!--});-->

<!--</script>-->


<div class="container">
    {% if validation %}
    <script>
            alert("폼 형식을 맞춰주세요.");
            history.back();


    </script>
    {% endif %}
    <form enctype="multipart/form-data" class="history-form" action="{% url 'history-create' %}" method="post">
        {{ form.media }}
        {% csrf_token %}
        <div class="history-form">
            {{ form.as_p}}
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">등록</button>
    </form>
</div>
{% endblock %}